<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ArtminEntities" connectionString="metadata=res://*/ArtminModel.csdl|res://*/ArtminModel.ssdl|res://*/ArtminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=edudb.thomasmore.be,3000;initial catalog=PR3_u0093666;persist security info=True;user id=pr3_u0093666;password=sql4you;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>